.sidebar {
  width: 300px;
  height: 100%;
  align-self: stretch;

  background: #fff;
  border-right: 1px solid var(--c-base-darker);

  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 14px 16px;
  background: var(--c-base-2);
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 999px;

  background: var(--c-accent-1);
  color: #fff;

  display: grid;
  place-items: center;

  font-weight: 800;
  font-size: 16px;
}

.profile-text .name {
  font-size: 18px;
  font-weight: 600;
  color: var(--c-text-dark);
  line-height: 1.2;
}

.profile-text .role {
  font-size: 12px;
  color: var(--c-text-dark);
  opacity: 0.8;
  margin-top: 2px;
}

.nav {
  padding: 10px 0;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 10px 16px;
  text-decoration: none;

  color: var(--c-text-dark);
}

.nav-ic {
  width: 22px;
  height: 22px;
  font-size: 22px;
  color: var(--c-text-dark);
}

.nav-label {
  font-size: 14px;
  font-weight: 400;
}

.nav-item.active {
  background: rgba(56, 116, 237, 0.10);
}
