:root {
  --c-primary: #0F3BA2;
  --c-accent-1: #3874ED;
  --c-accent-2: #FFE23F;
  --c-accent-3: #FEA439;
  --c-warn: #DF0000;

  --c-text-dark: #00002E;
  --c-text-medium: #6C6C6C;
  --c-text-light: #FFFFFF;

  --c-disabled-dark: #A6A6A6;
  --c-disabled-light: #E0E0E0;

  --c-base: #F5F5F5;
  --c-base-darker: #EBEBEB;
  --c-base-2: #E3EBFF;
  --c-base-2-darker: #E0E6F5;

  --c-overlay: rgba(0, 55, 105, 0.8);

  --radius: 8px;
  --shadow-1: 0 1px 2px rgba(0,0,0,.08), 0 2px 8px rgba(0,0,0,.06);

  --topbar-h: 64px;
  --tap: 48px;
  --icon: 32px;

  /* checkbox */
  --mdc-checkbox-selected-checkmark-color: #fff;
  --mdc-checkbox-selected-focus-icon-color: var(--c-accent-1);
  --mdc-checkbox-selected-hover-icon-color: var(--c-accent-1);
  --mdc-checkbox-selected-icon-color: var(--c-accent-1);

  /* radio */
  --mdc-radio-selected-focus-icon-color: var(--c-accent-1);
  --mdc-radio-selected-hover-icon-color: var(--c-accent-1);
  --mdc-radio-selected-icon-color: var(--c-accent-1);
}

html, body {
  height: 100%;
  font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

body {
  margin: 0;
  background: var(--c-base);
  color: var(--c-text-dark);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* MAT-SELECT dropdown panel (overlay) */
.cdk-overlay-container .mat-mdc-select-panel {
  background: #fff !important;
  opacity: 1 !important;
  border-radius: 6px;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.18);
  border: 1px solid #e2e6f0;
}

/* da i unutrasnja MDC povrsina bude bijela (nekad ona bude kriva) */
.cdk-overlay-container .mat-mdc-select-panel .mdc-menu-surface {
  background: #fff !important;
}

/* opcije */
.cdk-overlay-container .mat-mdc-option {
  //background: transparent;
}

/* hover */
.cdk-overlay-container .mat-mdc-option:hover,
.cdk-overlay-container .mat-mdc-option.mdc-list-item--activated {
  background: rgba(56, 116, 237, 0.08) !important;
}

/* selected */
.cdk-overlay-container .mat-mdc-option.mdc-list-item--selected {
  background: rgba(56, 116, 237, 0.12) !important;
}
